<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Smash" version="0.3.0" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net35" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net35" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net35" />
  <package id="Unzip" version="0.5" targetFramework="net35" />
</packages>